extends default

block append head
    link(rel="stylesheet", type="text/css" href="css/home.css")

block header_right
    a(href="/new", class="cta-button") Start a fight

block content
    main
        if newThread
            p.new-fight New fight created
        p Hottest fights:
        if !threads.length
            p.empty No fights
        else 
            each thread in threads 
                article
                    a(href="#")
                        h2 #{thread.title}
                    a(href="#", class="author") #{thread.authorName}
                    .stats
                        span Replies: #{thread.replyCount} 
                        span Upvotes: #{thread.upvotes} 
                        span Last post: #{thread.latestActivityDistance}
