extends default

block append head
    link(rel="stylesheet", type="text/css" href="/css/home.css")

block header_right
    a(href="/fights/new", class="cta-button") Start a fight

block content
    main
        if newFight
            p.new-fight New fight created
        p Hottest fights:
        if !fights.length
            p.empty No fights
        else 
            each fight in fights 
                article
                    a(href="#")
                        h2 #{fight.title}
                    a(href="#", class="author") #{fight.authorName}
                    .stats
                        span Replies: #{fight.replyCount} 
                        span Upvotes: #{fight.upvotes} 
                        span Last post: #{fight.latestActivityDistance}
